.bb-feedback-dialog-backdrop {
  display: none !important;
}

.bb-feedback-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.bb-feedback-dialog {
  position: initial;
  animation-name: none;
}

.bb-feedback-dialog-header-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bb-feedback-dialog-header-close svg {
  width: 24px;
  height: 24px;
}

.bb-feedback-dialog-header-next {
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 12px;
  padding-left: 15px;
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
}

.bb-feedback-dialog-header-next span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #192027;
  margin-right: 10px;
}

.bb-feedback-dialog-header-next svg {
  width: 18px;
  height: auto;
  transform: rotate(180deg);
}

.bb-feedback-dialog-header-next:hover {
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.bb-screenshot-editor-canv {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#bb-screenshot-editor-canvas {
  width: auto;
  max-width: calc(100% - 40px);
  height: auto;
  max-height: calc(100vh - 180px);
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.bb-drawing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bb-drawing-coloritem {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin: 0px 4px;
  cursor: pointer;
}

#bb-drawing-color {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  cursor: pointer;
}

#bb-drawing-colorpopup {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 18px;
  transform: translate(-50%, 0%);
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}

.bb-feedback-dialog-drawing {
  background-color: #f1f0f0;
  max-width: 800px;
}
