@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

.bugbattle-feedback-dialog-container input,
.bugbattle-feedback-dialog-container label {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
}

.bugbattle-feedback-button {
  margin: 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  color: #192027;
  z-index: 2147483100;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px;
}

.bugbattle-feedback-button--disabled .bugbattle-feedback-button-icon {
  display: none;
}

.bugbattle-feedback-button--disabled .bugbattle-feedback-button-text {
  display: none;
}

.bugbattle-feedback-button--bottomleft {
  bottom: 20px;
  right: auto;
  left: 20px;
}

.bugbattle-feedback-button-shoutout {
  position: fixed;
  bottom: 22px;
  right: 94px;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.bugbattle-feedback-button--bottomleft .bugbattle-feedback-button-shoutout {
  right: auto;
  left: 94px;
}

.bugbattle-feedback-button-text {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 15%);
  position: relative;
  z-index: 99;
}

.bugbattle-feedback-button-text:before {
  content: "";
  position: absolute;
  box-shadow: rgb(0 0 0 / 4%) 6px 6px 5px;
  transform: rotate(315deg);
  bottom: 16px;
  right: -4px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
}

.bugbattle-feedback-button--bottomleft .bugbattle-feedback-button-text:before {
  display: none;
}

.bugbattle-feedback-button-text:after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 0px;
  background-color: #fff;
  width: 5px;
  height: 30px;
}

.bugbattle-feedback-button-text-title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 18px;
  max-width: 220px;
}

.bugbattle-feedback-button-text-title b {
  color: #192027;
  font-weight: 600;
}

.bugbattle-feedback-button-icon {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #398cfe;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.bugbattle-feedback-button .bugbattle-logo-logo {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 14px;
  object-fit: contain;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.bugbattle-feedback-button .bugbattle-logo-arrowdown {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 23px;
  left: 21px;
  object-fit: contain;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.bugbattle-feedback-button .bugbattle-logo-arrowdown {
  animation-name: zoomOut;
}

.bugbattle-feedback-button .bugbattle-logo-logo {
  animation-name: zoomIn;
}

.bugbattle-feedback-button--sending .bugbattle-logo-arrowdown {
  animation-name: zoomIn;
}

.bugbattle-feedback-button--sending .bugbattle-logo-logo {
  animation-name: zoomOut;
}

.bugbattle-feedback-button-icon:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
}

.bugbattle-feedback-button--sending {
  padding-left: 5px;
}

.bugbattle-feedback-button--bottomleft.bugbattle-feedback-button--sending {
  padding-left: 0px;
  padding-right: 5px;
}

.bugbattle-feedback-button--sending .bugbattle-feedback-button-text {
  animation-name: fadeOutDown;
}

.bugbattle-feedback-button--sending .bugbattle-feedback-button-icon {
  display: flex;
}

.bugbattle-feedback-dialog-container .bugbattle-feedback-dialog-backdrop {
  opacity: 0;
  transition: opacity 1s;
  z-index: 2147483098;
}

.bugbattle-feedback-dialog-container--focused
  .bugbattle-feedback-dialog-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

.bugbattle-feedback-dialog-container--drawing {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 916777282;
}

.bugbattle-feedback-dialog {
  width: 90%;
  max-width: 375px;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  box-sizing: border-box;
  position: fixed;
  right: 16px;
  bottom: 92px;
  z-index: 2147483105;
}

.bugbattle-feedback-button--bottomleft .bugbattle-feedback-dialog {
  right: auto;
  left: 16px;
}

.bugbattle-feedback-dialog-infoitem {
  background-color: #eff4f7;
  padding: 16px;
  margin: 32px;
  margin-bottom: -16px;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #6e6e7f;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 5%);
}

.bugbattle-feedback-form--hidden {
  display: none !important;
}

.bugbattle-feedback-form {
  margin: 32px;
  margin-bottom: 22px;
  position: relative;
  flex-grow: 1;
}

.bugbattle-feedback-dialog-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 37px;
  box-sizing: border-box;
  background-color: #398cfe;
  flex-direction: column;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 75px;
}

.bugbattle-feedback-dialog-header-button-cancel svg {
  width: 10px;
  height: 10px;
}

.bugbattle-feedback-dialog-header-button-cancel:hover svg {
  opacity: 0.6;
}

.bugbattle-feedback-dialog-header-title {
  font-weight: normal;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  text-align: left;
  margin-top: 20px;
  font-weight: normal;
  line-height: 30px;
}

.bugbattle-feedback-dialog-header-description {
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: 100;
  line-height: 18px;
  margin-top: 5px;
}

.bugbattle-feedback-dialog-header-logo svg,
.bugbattle-feedback-dialog-header-logo img {
  height: 40px;
  width: auto;
  max-width: 200px;
  object-fit: contain;
  text-align: left;
}

.bugbattle-feedback-dialog-header-back {
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bugbattle-feedback-dialog-header-back svg {
  width: 18px;
  height: auto;
}

.bugbattle-feedback-dialog-header-back:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.bugbattle-feedback-dialog-header--back {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 12px;
  padding-top: 12px;
}

.bugbattle-feedback-dialog-header--back .bugbattle-feedback-dialog-header-text {
  flex-grow: 1;
  padding-left: 16px;
}

.bugbattle-feedback-dialog-header--backhidden
  .bugbattle-feedback-dialog-header-text {
  padding-left: 0px;
}

.bugbattle-feedback-dialog-header--backhidden {
  padding: 21px;
  padding-top: 21px;
}

.bugbattle-feedback-dialog-header--back
  .bugbattle-feedback-dialog-header-title {
  margin-top: 0px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.bugbattle-feedback-dialog-header--back
  .bugbattle-feedback-dialog-header-description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.bugbattle-feedback-dialog-header--backhidden
  .bugbattle-feedback-dialog-header-back {
  display: none !important;
}

.bugbattle-feedback-types {
  margin: 35px 0px;
  margin-top: -55px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.bugbattle-feedback-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  margin: 12px 25px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 81px;
  background-color: #fff;
  box-sizing: border-box;
}

.bugbattle-feedback-type:first-of-type:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.bugbattle-feedback-type:hover {
  background-color: #fff;
}

.bugbattle-feedback-type-icon {
  width: 44px;
  height: 44px;
  min-width: 44px;
  background-color: #398cfe;
  border-radius: 44px;
  margin-right: 12px;
  padding: 10px;
  box-sizing: border-box;
}

.bugbattle-feedback-type-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bugbattle-feedback-type-text {
  flex-grow: 1;
}

.bugbattle-feedback-type-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 3px;
  color: #192027;
}

.bugbattle-feedback-type-description {
  font-family: "Open Sans", sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 16px;
}

.bugbattle-feedback-elementtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 0px;
  font-weight: bold;
}

.bugbattle-feedback-elementtitle span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 0px;
  font-weight: bold;
  color: #ed4337;
  margin-left: 3px;
}

.bugbattle-feedback-dialog-info-text {
  font-family: "Open Sans", sans-serif;
  color: #666;
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
}

.bugbattle-feedback-dialog-success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  display: none;
  flex-grow: 1;
}

.bugbattle-feedback-dialog-success svg {
  width: 30px;
  height: auto;
}

.bugbattle-feedback-dialog-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.bugbattle-feedback-inputgroup {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0px;
  flex-direction: column;
}

.bugbattle-feedback-inputgroup.bugbattle-feedback-showafter {
  display: none;
}

.bugbattle-feedback-inputgroup-spacer {
  display: flex;
  height: 10px;
}

.bugbattle-feedback-inputgroup-button {
  display: flex;
  align-items: center;
}

.bugbattle-feedback-inputgroup-text {
  font-family: "Open Sans", sans-serif;
  color: #192027;
  font-size: 16px;
  font-weight: normal;
}

.bugbattle-feedback-inputgroup-label {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin-bottom: 5px;
  color: #192027;
  font-size: 14px;
  font-weight: 600;
}

.bugbattle-feedback-send-button {
  font-family: "Open Sans", sans-serif;
  background-color: #398cfe;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px 19px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
}

.bugbattle-feedback-send-button:hover {
  opacity: 0.9;
}

.bugbattle-feedback-inputgroup > input,
.bugbattle-feedback-inputgroup input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Open Sans", sans-serif;
  width: auto;
  padding: 15px 12px;
  font-size: 14px;
  outline: none;
  border: 1px solid #e9f1fd;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #192027;
}

input.bugbattle-feedback-required,
textarea.bugbattle-feedback-required {
  border: 1px solid #da0e07 !important;
  background-color: #da0e0710 !important;
}

.bugbattle-feedback-emojigroup {
  --normal: #eceaf3;
  --normal-shadow: #d9d8e3;
  --normal-mouth: #9795a4;
  --normal-eye: #595861;
  --active: #f8da69;
  --active-shadow: #f4b555;
  --active-mouth: #f05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.bugbattle-feedback-required .bugbattle-feedback-emojigroup {
  --normal: #fde6e6;
  --normal-shadow: #ffbdbd;
}

.bugbattle-feedback-emojigroup li {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  transition: background 0.4s, box-shadow 0.4s, transform 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.bugbattle-feedback-emojigroup li:not(:last-child) {
  margin-right: 10px;
}

.bugbattle-feedback-emojigroup li div {
  width: 45px;
  height: 45px;
  position: relative;
  transform: perspective(240px) translateZ(4px);
}

.bugbattle-feedback-emojigroup li div svg,
.bugbattle-feedback-emojigroup li div:before,
.bugbattle-feedback-emojigroup li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}

.bugbattle-feedback-emojigroup li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.4s;
}

.bugbattle-feedback-emojigroup li div svg.bugbattle-feedback-eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 10px;
  --h: 4px;
}

.bugbattle-feedback-emojigroup
  li
  div
  svg.bugbattle-feedback-eye.bugbattle-feedback-right {
  --l: 28px;
}

.bugbattle-feedback-emojigroup li div svg.bugbattle-feedback-mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 14px;
  --t: 25px;
  --w: 18px;
  --h: 10px;
}

.bugbattle-feedback-emojigroup li div:before,
.bugbattle-feedback-emojigroup li div:after {
  content: "";
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  transition: background 0.4s;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-angry div:before {
  --r: 20deg;
  top: 12px;
  left: 11px;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-angry div:after {
  --l: 23px;
  --r: -20deg;
  top: 12px;
  left: 28px;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-angry
  div
  svg.bugbattle-feedback-eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-angry:hover,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-angry.bugbattle-feedback-active {
  animation: angry 1s linear;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-angry:hover div:before,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-angry.bugbattle-feedback-active
  div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  animation: toggle 0.8s linear forwards;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-angry:hover div:after,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-angry.bugbattle-feedback-active
  div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  animation: toggle 0.8s linear forwards;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-sad div:before,
.bugbattle-feedback-emojigroup li.bugbattle-feedback-sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-sad div:after {
  --l: 25px;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-sad
  div
  svg.bugbattle-feedback-eye {
  --t: 16px;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-sad
  div
  svg.bugbattle-feedback-mouth {
  --t: 25px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-sad:hover div:before,
.bugbattle-feedback-emojigroup li.bugbattle-feedback-sad:hover div:after,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-sad.bugbattle-feedback-active
  div:before,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-sad.bugbattle-feedback-active
  div:after {
  animation: tear 0.6s linear forwards;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-ok div:before {
  --l: 15px;
  --t: 15px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-ok div:after {
  --l: 16px;
  --t: 27px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-ok:hover div:before,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-ok.bugbattle-feedback-active
  div:before {
  --middle-s-y: 0.35;
  animation: toggle 0.2s linear forwards;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-ok:hover div:after,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-ok.bugbattle-feedback-active
  div:after {
  --middle-s-x: 0.5;
  animation: toggle 0.7s linear forwards;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: 0.5;
  box-shadow: 16px 0 0 var(--b);
  filter: blur(2px);
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-good div:after {
  --sc: 0;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-good
  div
  svg.bugbattle-feedback-eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-good
  div
  svg.bugbattle-feedback-mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-good:hover
  div
  svg.bugbattle-feedback-mouth,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-good.bugbattle-feedback-active
  div
  svg.bugbattle-feedback-mouth {
  --middle-y: 1px;
  --middle-s: -1;
  animation: toggle 0.8s linear forwards;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-happy div:before {
  --sc: 0;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 14px;
  --t: 25px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}

.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-happy
  div
  svg.bugbattle-feedback-eye {
  --t: 14px;
  --sc: -1;
}

.bugbattle-feedback-emojigroup li.bugbattle-feedback-happy:hover div:after,
.bugbattle-feedback-emojigroup
  li.bugbattle-feedback-happy.bugbattle-feedback-active
  div:after {
  --middle-s-x: 0.95;
  --middle-s-y: 0.75;
  animation: toggle 0.8s linear forwards;
}

.bugbattle-feedback-emojigroup li:not(.active) {
  cursor: pointer;
}

.bugbattle-feedback-emojigroup li:not(.active):active {
  transform: scale(0.925);
}

.bugbattle-feedback-emojigroup li:hover,
.bugbattle-feedback-emojigroup li.bugbattle-feedback-active {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}

.bugbattle-feedback-emojigroup li:hover div,
.bugbattle-feedback-emojigroup li.bugbattle-feedback-active div {
  animation: shake 0.8s linear forwards;
}

@keyframes shake {
  30% {
    transform: perspective(240px) rotateX(var(--step-1-rx, 0deg))
      rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg))
      translateZ(10px);
  }
  60% {
    transform: perspective(240px) rotateX(var(--step-2-rx, 0deg))
      rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg))
      translateZ(10px);
  }
  100% {
    transform: perspective(240px) translateZ(4px);
  }
}

@keyframes tear {
  0% {
    opacity: 0;
    transform: translateY(-2px) scale(0) translateZ(0);
  }
  50% {
    transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1)
      translateZ(0);
  }
}

@keyframes toggle {
  50% {
    transform: translateY(var(--middle-y, 0))
      scale(
        var(--middle-s-x, var(--middle-s, 1)),
        var(--middle-s-y, var(--middle-s, 1))
      )
      rotate(var(--middle-r, 0deg));
  }
}

@keyframes angry {
  40% {
    background: var(--active);
  }
  45% {
    box-shadow: inset 3px -3px 4px var(--active-shadow),
      inset 0 8px 10px var(--active-shadow-angry);
  }
}

.bugbattle-feedback-inputgroup textarea {
  font-family: "Open Sans", sans-serif;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  width: auto;
  height: auto;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
  box-sizing: border-box;
  border: 1px solid #e9f1fd;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #192027;
}

.bugbattle-feedback-inputgroup--privacy-policy {
  font-family: "Open Sans", sans-serif;
  padding: 8px 0px;
  font-size: 14px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bugbattle-feedback-inputgroup--privacy-policy a {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
  color: #192027;
}

.bugbattle-feedback-inputgroup--privacy-policy [type="checkbox"]:not(:checked),
.bugbattle-feedback-inputgroup--privacy-policy [type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:not(:checked)
  + label,
.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:checked
  + label {
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-left: 2em;
  font-size: 14px;
  color: #192027;
  line-height: 1.7;
  cursor: pointer;
}

.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:not(:checked)
  + label:before,
.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:checked
  + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0.2em;
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}

.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:not(:checked)
  + label:after,
.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:checked
  + label:after {
  content: "✕";
  position: absolute;
  top: 0.525em;
  left: 0.18em;
  font-size: 1.375em;
  color: #398cfe;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:not(:checked)
  + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

.bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:checked
  + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

.bugbattle-feedback-inputgroup--privacy-policy.bugbattle-feedback-required
  [type="checkbox"]:not(:checked)
  + label,
.bugbattle-feedback-inputgroup--privacy-policy.bugbattle-feedback-required
  [type="checkbox"]:checked
  + label
  .bugbattle-feedback-inputgroup--privacy-policy.bugbattle-feedback-required,
.bugbattle-feedback-inputgroup--privacy-policy.bugbattle-feedback-required a {
  color: #da0e07;
}

.bugbattle-feedback-importance {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  margin-bottom: -8px;
  font-weight: 600;
  color: #222426;
  font-size: 14px;
}

.bugbattle-feedback-image {
  position: relative;
}

.bugbattle-feedback-poweredbycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  margin: 0px;
  padding: 12px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 4%) 0px -10px 10px 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bugbattle-feedback-poweredbycontainer span {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #aaa;
}

.bugbattle-feedback-poweredbycontainer svg {
  height: 16px;
  width: auto;
  margin-left: 5px;
}

.bugbattle--edit-button {
  position: absolute;
  top: calc(50% - 25px);
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bugbattle-feedback-dialog-error {
  background-color: #da0e0710;
  padding: 16px;
  margin: 32px;
  margin-bottom: -16px;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #da0e07;
  border: 1px solid #da0e07;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 5%);
  display: none;
}

.bugbattle-feedback-dialog-loading {
  padding: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.bugbattle--progress-ring__circle {
  transition: 0.2s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.bugbattle--edit-button svg {
  width: 60%;
}

.bugbattle-screenshot-editor-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  z-index: 916777263;
}

.bugbattle-screenshot-editor-container-inner {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
}

.bugbattle-screenshot-editor-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
  z-index: 916777268;
  box-sizing: border-box;
}

.bugbattle-screenshot-editor-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  cursor: crosshair;
  z-index: 916777267;
}

.bugbattle-screenshot-editor-borderlayer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  border: 5px solid #398cfe;
  cursor: crosshair;
  z-index: 916777272;
  box-sizing: border-box;
}

.bugbattle-screenshot-editor--marked .bugbattle-screenshot-editor-svg,
.bugbattle-screenshot-editor--marked .bugbattle-screenshot-editor-canvas,
.bugbattle-screenshot-editor--marked .bugbattle-screenshot-editor-borderlayer {
  cursor: default;
}

.bugbattle-screenshot-editor-dot {
  position: absolute;
  top: -16px;
  left: -16px;
  width: 16px;
  height: 16px;
  background-color: #398cfe;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  z-index: 916777270;
  box-sizing: border-box;
}

.bugbattle-screenshot-editor-drag-info {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: -100px;
  left: -100px;
  background-color: #398cfe;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  z-index: 916777271;
  min-width: 270px;
  text-align: center;
}

.bugbattle-screenshot-editor-rectangle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #398cfe;
  box-sizing: border-box;
  z-index: 916777269;
}

.bugbattle-anim-fadein {
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.bugbattle-feedback-dialog-header-close {
  display: none;
}

@media only screen and (max-width: 600px) {
  .bugbattle-feedback-dialog {
    width: calc(100% - 20px);
    box-sizing: border-box;
    max-width: inherit;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
  .bugbattle-feedback-dialog-header-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .bugbattle-feedback-dialog-header-close svg {
    width: 24px;
    height: 24px;
  }
  .bugbattle-feedback-dialog-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
  }
  .bugbattle-screenshot-editor-drag-info {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
  }
  .bugbattle-screenshot-editor-borderlayer {
    border-width: 4px;
  }
  .bugbattle-anim-fadein {
    animation-duration: 0s;
    animation-fill-mode: both;
    animation-name: none;
  }
}

.bugbattle-feedback-button--crashed .bugbattle-feedback-button-icon {
  background-color: #ed4337;
}

.bugbattle-feedback-button--crashed .bugbattle-feedback-button-icon:hover {
  background-color: #c7372d;
}

.bugbattle-feedback-dialog--crashed .bugbattle-feedback-dialog-header {
  background: linear-gradient(135deg, #ed4337 0%, #c7372d 100%);
}

.bugbattle-feedback-dialog--crashed .bugbattle-feedback-send-button {
  background-color: #ed4337;
}

.bugbattle-feedback-dialog--crashed .bugbattle-feedback-dialog-infoitem {
  border-top: 2px solid #ed433777;
}

.bugbattle-feedback-dialog--crashed .bugbattle-feedback-dialog-infoitem {
  background-color: #ed433709;
}

.bugbattle-feedback-dialog--crashed
  .bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:not(:checked)
  + label:after,
.bugbattle-feedback-dialog--crashed
  .bugbattle-feedback-inputgroup--privacy-policy
  [type="checkbox"]:checked
  + label:after {
  color: #ed4337;
}

@media print {
  .bugbattle-feedback-button {
    display: none !important;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
